section.slide-section.index-slide {

  margin: 0 auto;
  width: auto;
  max-width: none;

  ul {
    padding: 0;
    list-style: none;
  }

  ul.share-button-list {
    margin: 0;
  }

  ul.slide-index-instructions {
    margin: 0 20px;

    li {
      margin-top: 1px;
    }
  }

  .slide-content-wrapper {
    @include tablet {
      max-width: 1300px;
      margin: 0 auto;
    }
  }
}
.index-background-image {
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 30px;

  @include tablet {
    top: 0;
    width: 100%;
    max-height: 550px;
  }
}
.index-background-image:after {
  position: absolute;
  content: '';
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.3);
}

.slide-share-wrapper, .slide-desktop-share-wrapper {

  ul li {
    display: inline-block;
    border: 1px solid rgba(255,255,255,.75);
    border-radius: 50%;

    transition: 200ms background-color;
    background-color: transparent;

    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, .15);
    }
  }
}

.slide-share-wrapper {
  position: absolute;

  top: 7vh;

  @include tablet {
    top: 20px;
  }

  left: 20px;
}

.slide-desktop-share-wrapper {
  position: relative;
  left: 20px;
  display: none;

  @include tablet {
     border-top: 1px solid white;
     display: inline-block;
     left: 40px;
     margin-top: 10px;
     margin-bottom: 10px;
     padding-top: 20px;
  }
}

@include tablet {
  .index-title-wrapper {
    position: relative;
    width: 100%;
    height: 550px;
  }
}


h2.slide-index-title {
  font-size: 40px;
  font-family: $font-sans-bold;
  padding: 15vh 20px 20px 20px;
  line-height: 1em;

  @include tablet {
    font-size: 90px;
    width: 85%;
    // padding: 340px 20px 0 20px;
    padding: 0 40px 20px;
    position: absolute;
    bottom: 0;
    text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  }
}

p.slide-index-description {
  padding: 0 20px;
  font-size: 18px;
  margin: 0;

  @include tablet {
    max-width: 420px;
    margin: 10px 0 40px 0;
    padding: 0 40px;
  }
  @include desktop {
    max-width: 750px;
  }
}

section.slide-section.index-slide .slide-content {
  height: 100vh;
  margin: 0;

  @include tablet {
    max-width: 980px;
    margin: 0px auto;
    height: auto;
    overflow: hidden;
  }
}

.slide-index-client-container {

  margin-top: 5px;

  h4.slide-index-client-title {
    font-family: $font-text-sans;
    font-weight: 100;
    font-size: 14px;
    margin: 20px 0px 0 20px;

    @include tablet {
      margin: 20px 0 10px 0;
    }
  }

  @include tablet {
    margin-top: 50px;
    padding: 0 40px;
  }
}

.client-image-wrapper {
  margin-left: 20px;
  width: 50%;

  img {
    width: 100%;
    height: auto;
    margin: 10px 0;

    @include tablet {
      width: auto;
      height: 100%;
      margin: 0;
    }
  }

  @include tablet {
    width: auto;
    height: 60px;
    margin: 0 0 10px 0;
  }
}

section.slide-section.index-slide .slide-next-button-container {
  position: absolute;
  bottom: 0;
}

section.slide-section .slide-begin-button-container {
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 60px;
  right: 0px;
}

section.slide-section .slide-begin-button {
  font-size: 24px;
  font-weight: 900;
  font-family: $font-sans-bold;
  margin: 20px;
}

.slide-index-icon.arrow-down svg {
  transform: translateX(-4px) rotate(90deg);
}

.slide-index-icon, .slide-index-list-label {
  display: inline-block;
  vertical-align: middle;
}
.slide-index-list-label {
  font-size: 14px;
}

@include tablet {
  .index-description {
    overflow: hidden;
  }
  .description-content {
    max-width: 520px;
  }
  .description-image {
    position: absolute;
    right: 50px;
    top: 660px;
    max-width: 230px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
@include desktop {
  .description-content {
    max-width: 620px;
  }
  .description-image {
    position: absolute;
    right: 100px;
    top: 670px;
    max-width: 250px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
