<section class="slide-section index-slide">
  <div class="index-background-image"></div>
  <div class="slide-content-wrapper">
    <div class="slide-content">
      <div class="slide-share-wrapper gl-mobile-only">
        <div gl-share-buttons></div>
      </div>
      <div class="index-title-wrapper">
        <h2 class="slide-index-title">{{ item.title_text }}</h2>
      </div>
      <!-- <p class="slide-index-description gl-mobile-only">{{ item.description_text }}</p>-->
      <ul class="slide-index-instructions gl-mobile-only">
        <li class="slide-index-instruction-one">
          <div class="slide-index-icon">
            <svg
               xmlns="http://www.w3.org/2000/svg"
               width="36px"
               height="36px"
               viewBox="0 0 88.000006 88"
               id="svg2"
               version="1.1">

              <g id="gl-arrow-right-layer">
                <path fill="rgba(0,0,0,0.3)"
                   d="M 44,0 C 19.699,0 0,19.699 0,44 0,68.301 19.699,88 44,88 68.301,88 88,68.301 88,44 88,19.699 68.301,0 44,0 Z" />
                <path
                   d="M 47.15625,22.111328 45.21289,24.05664 60.226562,42 22,42 l 0,4 38.226562,0 -15.013672,17.943359 1.94336,1.943359 17.998046,-17.998046 2.867188,-2.869141 0,-2.041016 -2.867188,-2.867187 -17.998046,-18 z"
                   id="gl-arrow-right"
                   style="fill:#ffffff"
                   id="gl-icon-arrow-right" />

              </g>
            </svg>
          </div>
          <div class="slide-index-list-label">{{ item.instruction1_text }}</div>
        </li>
        <li class="slide-index-instruction-two">
          <div class="slide-index-icon arrow-down">
            <svg
               xmlns="http://www.w3.org/2000/svg"
               width="36px"
               height="36px"
               viewBox="0 0 88.000006 88"
               id="svg2"
               version="1.1">

              <g id="gl-arrow-down-layer">
                <path fill="rgba(0,0,0,0.3)"
                   d="M 44,0 C 19.699,0 0,19.699 0,44 0,68.301 19.699,88 44,88 68.301,88 88,68.301 88,44 88,19.699 68.301,0 44,0 Z" />
                <path
                   d="M 47.15625,22.111328 45.21289,24.05664 60.226562,42 22,42 l 0,4 38.226562,0 -15.013672,17.943359 1.94336,1.943359 17.998046,-17.998046 2.867188,-2.869141 0,-2.041016 -2.867188,-2.867187 -17.998046,-18 z"
                   id="gl-arrow-right"
                   style="fill:#ffffff"
                   id="gl-icon-arrow-down" />

              </g>
            </svg>
          </div>
          <div class="slide-index-list-label">{{ item.instruction2_text }}</div>
        </li>
      </ul>
      <div class="slide-index-client-container">
        <h4 class="slide-index-client-title">{{ item.client_text }}</h3>
        <a ng-href="{{ item.client_link }}" ng-click="onClientClick($event)">
          <div class="client-image-wrapper">
            <img ng-src="{{ item.client_image }}" />
          </div>
        </a>
      </div>

      <div class="slide-desktop-share-wrapper gl-tablet-only">
        <div gl-share-buttons></div>
      </div>

      <div class="gl-tablet-only index-description">
        <div class="description-content">
          <p class="slide-index-description">{{ item.description_text }}</p>
        </div>
        <div class="description-image">
          <img ng-src="{{ item.description_image }}" />
        </div>
      </div>

      <div class="slide-next-button-container gl-mobile-only">
        <div ng-click="onClickNext()" class="slide-next-button">
          <span class="slide-next-label">{{ item.start_text }}</span>
          <svg
             xmlns="http://www.w3.org/2000/svg"
             width="64px"
             height="64px"
             viewBox="0 0 88.000006 88"
             id="svg2"
             version="1.1">

            <g id="gl-arrow-right-layer">
              <path fill="rgba(0,0,0,0.3)"
                 d="M 44,0 C 19.699,0 0,19.699 0,44 0,68.301 19.699,88 44,88 68.301,88 88,68.301 88,44 88,19.699 68.301,0 44,0 Z" />
              <path
                 d="M 47.15625,22.111328 45.21289,24.05664 60.226562,42 22,42 l 0,4 38.226562,0 -15.013672,17.943359 1.94336,1.943359 17.998046,-17.998046 2.867188,-2.869141 0,-2.041016 -2.867188,-2.867187 -17.998046,-18 z"
                 id="gl-arrow-right"
                 style="fill:#ffffff"
                 id="gl-icon-arrow-right" />
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</setion>