section.slide-section .slide-image {

  position: relative;
  width: 100%;

  .image-caption {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
  }

  .caption-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    font-size: 14px;
    line-height: 1.3em;
    color: #dadada;
  }

  .slide-image-wrapper {
    position: relative;
    height: 0;
    padding-bottom: 100%; // 100% is square
    overflow: hidden;

    @include tablet {
      padding-bottom: 51%; // 980x500
    }
  }

  .slide-image-container {
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
  }

  img {
    width: auto;
    height: 100%;
  }

  .camera-icon-wrapper {
    position: absolute;
    top: 0; right: 0;
    margin: 10px;
    cursor: pointer;

    @include tablet {
      display: none;
    }
  }
}

// Note: Image sizes for aspect ratio
// 980x500 desktop
// 750x750 mobile
// 750x1334 portrait
@include tablet {
  .slide-block .slide-image {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 40px;

    .slide-image-wrapper {
      max-width: 620px;
    }
  }
}
@include desktop {
  .slide-block .slide-image {
    .slide-image-wrapper {
      max-width: 750px;
    }
  }
}