<div class="slide-image">
  <div class="slide-image-wrapper">
    <div class="slide-image-container">
      <img>
    </div>
    <div ng-if="caption" class="gl-tablet-only image-caption">
      <div class="caption-content">{{ caption }}</div>
    </div>
    <div ng-click="onPhotoClick()" class="camera-icon-wrapper">
      <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 87.827998 87.827998">
        <circle id="camera-icon-circle" cx="44.774" cy="44.267" r="43.914"/>
        <path id="camera-icon-camera" d="M63.693 31.385h-10l-5-5h-8l-5 5h-10l-3 3V55.9l3 2.983h38l3-3.06V34.384l-3-3zm-19 22c-4.97 0-9-4.03-9-9s4.03-9 9-9 9 4.03 9 9-4.03 9-9 9z"/>
      </svg>
    </div>
  </div>
</div>