$bp-mobile: 320px;
$bp-tablet: 667px;
$bp-desktop: 980px;
$bp-wide: 1300px;

@mixin mobile {
  @media only screen and (min-width: $bp-mobile)  {       
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: $bp-tablet)  {       
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $bp-desktop)  {       
    @content;
  }
}

@mixin wide {
  @media only screen and (min-width: $bp-wide)  {       
    @content;
  }
}

