@function getFont($filename) {
	@return url(#{'../fonts/'}#{$filename});
}

@font-face {
  font-family: 'DisplaySansBold';
  src: getFont('gdnsands6bol-webfont.eot');
  src: getFont('gdnsands6bol-webfont.eot?#iefix') format('embedded-opentype'),
       getFont('gdnsands6bol-webfont.woff2') format('woff2'),
       getFont('gdnsands6bol-webfont.woff') format('woff'),
       getFont('gdnsands6bol-webfont.ttf') format('truetype'),
       getFont('gdnsands6bol-webfont.svg#ds6_display_sans_boldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'DisplaySansLight';
	src: getFont('gdnsands2lig-webfont.eot');
	src: getFont('gdnsands2lig-webfont.eot?#iefix') format('embedded-opentype'),
    	 getFont('gdnsands2lig-webfont.woff2') format('woff2'),
    	 getFont('gdnsands2lig-webfont.woff') format('woff'),
    	 getFont('gdnsands2lig-webfont.ttf') format('truetype'),
    	 getFont('gdnsands2lig-webfont.svg#ds2_display_sans_lightregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DisplaySansRegular';
	src: getFont('gdnsands3reg-webfont.eot');
	src: getFont('gdnsands3reg-webfont.eot?#iefix') format('embedded-opentype'),
    	 getFont('gdnsands3reg-webfont.woff2') format('woff2'),
    	 getFont('gdnsands3reg-webfont.woff') format('woff'),
    	 getFont('gdnsands3reg-webfont.ttf') format('truetype'),
    	 getFont('gdnsands3reg-webfont.svg#ds3_display_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

$font-text-sans: "TextSans", Helvetica, Arial, sans-serif;
$font-sans-regular:'DisplaySansRegular',sans-serif;
$font-sans-light:'DisplaySansLight',sans-serif;
$font-sans-bold:'DisplaySansBold', sans-serif;
