html {
  width: 100vw;
  overflow-x: hidden;
}
body {
  background-color: #2d2b2c;
  width: 100vw;
  height: 100%; // 100vh doesnt seem to work for iphone
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  color: #fff;

  @include tablet {
    overflow-x: auto;
    overflow-y: auto;
    height: auto;
  }
}
body.noscroll {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
}

// Helpers for hide / show responsive content
.gl-mobile-only {
  @include tablet {
    display: none;
  }
}
.gl-tablet-only {
  display: none;
  @include tablet {
    display: block;
  }
}
.gl-desktop-only {
  display: none;
  @include desktop {
    display: block;
  }
}

.gl-app-container {
  font-family: $font-text-sans;
  -webkit-font-smoothing: antialiased;

  @include tablet {
    background-color: black;
  }
}
.gl-app-container * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.gl-app-container h2, .gl-app-container h3 {
  margin: 0; padding: 0;
}

.flickity-page-dots {
  position: absolute;
  width: 100%;
  top: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 6px;
  background: #999;
  border-radius: 50%;
  filter: alpha(opacity=25); /* IE8 */
  opacity: 0.25;
  cursor: pointer;
  transition: opacity 300ms linear;
}

.flickity-page-dots .dot.is-selected {
  filter: alpha(opacity=100); /* IE8 */
  opacity: 1;
}