/* z-index scale */
$zIndex-1:   100;
$zIndex-2:   200;
$zIndex-3:   300;
$zIndex-4:   400;
$zIndex-5:   500;
$zIndex-6:   600;
$zIndex-7:   700;
$zIndex-8:   800;
$zIndex-9:   900;
$zIndex-10: 1000;

/* z-index layers */
$zIndex-sticky-header-spacer: $zIndex-4;
$zIndex-sticky-header:        $zIndex-5;
$zIndex-page-dots:            $zIndex-8;
$zIndex-lightbox:             $zIndex-9;
$zIndex-lightbox-ui:          $zIndex-10;


