.gl-video {
  margin: 0 0 20px 0;
  
  @include tablet {
    margin: 20px;
  }
}
.gl-video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.65%;
}
.gl-video-wrapper iframe {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}