<div class="scroll-wrapper gl-slides">
  <div gl-index-slide item="slideIndex"></div>
  <div ng-class="{'last-slide': $last}" ng-repeat="item in list" item-index="$index" items="list" gl-slide item="item"></div>
  <div gl-end-slide index="slideIndex" related="relatedData" credits="creditsData"></div>
  <div gl-dots items="list"></div>
</div>