.scroll-wrapper {
  position: relative;
  white-space: nowrap;
  font-size: 0;

  @include tablet {
    max-width: none; //1300px;
    margin: 0 auto;
  }
}

section.slide-section {
  position: relative;
  // background: black;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  max-width: 1300px;

  background-size: cover;

  h3 {
    margin: 0;
    padding: 0;
  }

  display: inline-block; // Horizontal alignment for Flickity (mobile)

  @include tablet {
    display: block; // Stack vertically for tablet
    width: auto;
    height: auto;
    max-width: 1300px;
    margin: 0 auto;
  }
}
section.slide-section .slide-scrollable-wrapper.sticky {

}
section.slide-section .slide-scrollable-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  // Scrollable div
  overflow: scroll;
  // Enable momentum scrolling for iOS
  -webkit-overflow-scrolling: touch;

  // Disable scroll
  .noscroll & {
    overflow: hidden;
  }

  @include tablet {
    // No scrollable div for tablet and above
    overflow: auto;
    -webkit-overflow-scrolling: auto;


    width: 100%; // Width is full width (not viewport width)
    height: auto; // Height is natural
  }
}

section.slide-section .slide-content {
  display: block;
  box-sizing: border-box;
  white-space: normal;
  position: relative;
  margin: 58px 0 0 0;

  @include tablet {
    max-width: none; // 980px
    margin: 0px auto;

  }
}

section.slide-section .slide-next-button-container {
  width: 100%;
  text-align: right;
  @include tablet {
    display: none;
  }
}

section.slide-section .slide-next-button {
  margin: 0 20px 100px 20px;
  cursor: pointer;
}

section.slide-section .slide-next-label {
  font-size: 24px;
  font-weight: 900;
  font-family: $font-sans-bold;
  margin-right: 6px;
  cursor: pointer;
}

.slide-next-button-container svg {
  vertical-align: middle;
  display: inline-block;
}
.slide-next-button-container span {
  display: inline-block;
}

section.slide-section h3.slide-main-heading {
  font-family: $font-sans-bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;

  background: black;
  position: absolute;
  width: 100vw;
  top: 0;
  padding-top: 30px;
  line-height: 2em;
  z-index: $zIndex-sticky-header;

  @include tablet {
    position: relative;
    padding-top: 0;
    width: 100%;
    max-width: 1300px;
  }
}