<section class="slide-section">

  <h3 class="slide-main-heading gl-mobile-only">{{ item.main_title_short ? item.main_title_short : item.main_title }}</h3>

  <div class="slide-scrollable-wrapper">
    <div class="slide-content">

      <div class="gl-tablet-only gl-heading-tablet"
           gl-heading
           items="items"
           title="item.main_title"
           selected-index="itemIndex"
           icon="item.main_title_icon_image"></div>

      <div ng-if="item.video_hero"
           gl-video
           video-info="item.video_hero"></div>

      <div ng-if="item.image_hero"
           gl-photo
           image-url="item.image_hero"
           image-mobile-url="item.image_hero_mobile"
           column-id="'_hero_' + item.id"></div>

      <div class="gl-mobile-only" gl-heading title="item.main_title" icon="item.main_title_icon_image"></div>

      <div ng-if="item.main_text" gl-text content="item.main_text"></div>
      <div ng-if="item.main_callout" gl-callout content="item.main_callout"></div>

      <div class="slide-block" ng-repeat="block in item.blocks">

        <div ng-if="block.video"
             gl-video
             video-info="block.video"></div>

        <div ng-if="block.image"
             gl-photo
             caption="block.caption"
             image-url="block.image"
             image-mobile-url="block.image_mobile"
             column-id="'_' + block.id + '_' + item.id"></div>

        <div ng-if="block.text" gl-text content="block.text"></div>
        <div ng-if="block.callout" gl-callout content="block.callout"></div>

      </div>

      <div class="slide-next-button-container">
        <div ng-click="onClickNext()" class="slide-next-button">
          <span class="slide-next-label">Next</span>
          <svg
             xmlns="http://www.w3.org/2000/svg"
             width="64px"
             height="64px"
             viewBox="0 0 88.000006 88"
             id="svg2"
             version="1.1">

            <g id="gl-arrow-right-layer">
              <path fill="rgba(0,0,0,0.3)"
                 d="M 44,0 C 19.699,0 0,19.699 0,44 0,68.301 19.699,88 44,88 68.301,88 88,68.301 88,44 88,19.699 68.301,0 44,0 Z" />
              <path
                 d="M 47.15625,22.111328 45.21289,24.05664 60.226562,42 22,42 l 0,4 38.226562,0 -15.013672,17.943359 1.94336,1.943359 17.998046,-17.998046 2.867188,-2.869141 0,-2.041016 -2.867188,-2.867187 -17.998046,-18 z"
                 id="gl-arrow-right"
                 style="fill:#ffffff"
                 id="gl-icon-arrow-right" />

            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>