.slide-callout {
  blockquote {
    font-size: 24px;
    font-family: $font-sans-bold;
    margin: 20px;
  }
  blockquote:before, blockquote:after {
    font-size: 60px;
    display: block;
  }
  blockquote:before {
    content: "\275D";
    text-align:left;
  }
  blockquote:after {
    content: "\275E";
    text-align: right;
  }

  @include tablet {
    max-width: 630px;
    margin-left: 40px;
  }
  @include desktop {
    margin-left: 175px;
  }
}