.gl-gallery-item {

  display: inline-block;

  width: 100vw;
  height: 100vh;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  img {
    width: 1px;
    height: 1px;
    height: auto;
    display: inline;
    visibility: hidden;
  }
}

.gl-gallery-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 20px 20px 80px 20px;
  font-size: 14px;
  line-height: 1.2em;
  white-space: normal;
  background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

  @include tablet {
    bottom: 10px;
  }
}
.gl-gallery-spinner-container {
  width: 100%;
  height: 100%;
}
.gl-gallery-spinner-container svg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}