.gl-lightbox-container {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.9);
  pointer-events: none;
  opacity: 0;
  transition: opacity 100ms linear 300ms, transform 400ms ease-in-out;
  white-space: nowrap;
  font-size: 0;
  z-index: $zIndex-lightbox;
  transform: translate3d(0,100vh, 0);
}
.gl-lightbox-container.open {
  transform: translate3d(0,0,0);
  opacity: 1;
  pointer-events: auto;
  transition: opacity 100ms linear, transform 400ms ease-in-out;
}

.gl-lightbox-wrapper {
  position: relative;
  white-space: nowrap;
}

.gl-lightbox-container .close-button-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
  z-index: $zIndex-lightbox-ui;
}
.gl-lightbox-btn.btn-right {
  right: 0;
}
.gl-lightbox-btn.btn-left {
  left: 0;
}
.gl-lightbox-btn {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  cursor: pointer;
  z-index: $zIndex-lightbox-ui;
}