<div class="gl-lightbox-container">
  <div class="gl-lightbox-wrapper">
    <div gl-gallery-item image="image" ng-repeat="image in images"></div>
  </div>
  <div ng-click="onCloseClick()" class="close-button-wrapper">
    <svg
       xmlns="http://www.w3.org/2000/svg"
       width="64px"
       height="64px"
       viewBox="0 0 88 88"
       version="1.1"
       id="gl-close-svg">

      <g id="gl-close-btn">
        <circle
           style="fill:#000000;fill-opacity:0.3;stroke:none;stroke-opacity:1"
           id="gl-close-btn-path"
           cx="44.067799"
           cy="44.144066"
           r="43.432201" />
        <path
           id="polygon6127"
           d="m 29.504394,27.383423 -2.120971,2.120971 13.232422,14.49585 -13.232422,14.49585 2.120971,2.120972 14.535523,-13.272096 14.81018,12.918091 1.766969,-1.766967 -13.235474,-14.49585 13.235474,-14.49585 -2.120972,-2.120971 -14.49585,13.235474 z"
           style="fill:#ffffff" />
      </g>
    </svg>
  </div>
  <div class="gl-lightbox-btn btn-right">
    <svg
       xmlns="http://www.w3.org/2000/svg"
       width="32px"
       height="64px"
       viewBox="0 0 26.815796 55.511475"
       version="1.1">

      <g id="gl-lightbox-right-btn">
        <path
           style="fill:#000000;fill-opacity:0.3"
           d="M 26.815795,0 C 11.867867,0.52775923 0.01760364,12.78935 0,27.746581 0.00775314,42.710914 11.860779,54.983458 26.815795,55.511475 l 0,-30.874634 z" />
        <path
           style="fill:#ffffff;fill-opacity:1"
           d="M 7.3066406 10.185547 L 6.6328125 10.859375 L 12.410156 17.763672 L 6.6328125 24.667969 L 7.3066406 25.341797 L 13.537109 19.109375 L 14.529297 18.117188 L 14.529297 17.410156 L 13.537109 16.417969 L 7.3066406 10.185547 z "
           transform="scale(1.5625,1.5625)" />
      </g>
    </svg>
  </div>
  <div class="gl-lightbox-btn btn-left">
    <svg
       xmlns="http://www.w3.org/2000/svg"
       width="32px"
       height="64px"
       viewBox="0 0 26.815796 55.511475"
       version="1.1">

      <path
         style="fill:#000000;fill-opacity:0.3"
         d="M 0,0 C 14.947928,0.52775923 26.798191,12.78935 26.815795,27.746581 26.808042,42.710914 14.955016,54.983458 0,55.511475 L 0,24.636841 Z" />
      <path
         style="fill:#ffffff;fill-opacity:1"
         d="m 15.399169,15.914917 1.052856,1.052856 -9.0270988,10.787964 9.0270988,10.787965 -1.052856,1.052856 -9.7351068,-9.73816 -1.5502938,-1.550292 0,-1.104737 1.5502938,-1.550292 9.7351068,-9.73816 z" />
  </div>
</div>