.gl-heading {
  position: relative;
  top: 0;
  height: 120px;
  margin-bottom: 20px;

  .heading-background, .heading-content {
    position: absolute;
    top: 0;

    @include tablet {
      width: 100%;
      max-width: 1300px; // 980px;
    }

    h2 {
      line-height: 1em;
      letter-spacing: -0.01em;
      font-family: $font-sans-bold;
      font-size: 28px;

      @include tablet {
        font-size: 36px;
        line-height: 64px;
      }
    }
  }

  .heading-content {
    transition: box-shadow 1s linear;
  }
}

.slide-heading-icon > div {
  width: 64px;
  height: 64px;
  margin: 20px 20px 20px 0;

  img {
    width: 100%;
    height: auto;

    @include tablet {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.slide-heading-title {
  width: 66%;
  margin: 20px 0 20px 20px;
  float: left;

  @include tablet {
    width: auto;
    margin: 20px 20px 20px 40px;
    float: none;
  }

  @include desktop {
    margin: 20px 20px 20px 200px;
  }
}

.slide-heading-icon {
  float: right;

  @include tablet {
    float: none;
  }
}

.gl-heading-tablet {
  position: relative;
  top: 0;
  z-index: $zIndex-sticky-header;
  width: 100%;
  max-width: none; // 980px;
  background: #252324;
}

.slide-heading-title, .slide-heading-icon {
  display: inline-block;
  vertical-align: middle;
}

.slide-heading-icon {
  @include desktop {
    position: absolute;
    left: 115px;
  }
}

.gl-page-dots {
  position: absolute;
  top: 40px;
  width: 100%;
  max-width: none; // 980px;
  z-index: $zIndex-page-dots;
  visibility: hidden;
}
