<div ng-attr-id="{{ 'heading-' + selectedIndex }}" class="gl-heading">
  <div class="heading-background">
    <div class="slide-heading-title"><h2>{{ title }}</h2></div>
    <div class="slide-heading-icon">
      <div ng-if="icon">
        <img ng-src="{{icon}}">
      </div>
    </div>
  </div>

  <div class="heading-content">
    <div class="slide-heading-title"><h2>{{ title }}</h2></div>
    <div class="slide-heading-icon">
      <div ng-if="icon">
        <img ng-src="{{icon}}">
      </div>
    </div>

    <div class="gl-tablet-only gl-page-dots">
      <ol class="page-dots">
        <a ng-repeat="item in items" ng-href="{{ '#heading-' + $index }}">
          <li ng-class="{'is-selected': $index == selectedIndex}"
              class="dot"></li></a>
      </ol>
    </div>

  </div>

</div>
