.slide-text {

  padding: 20px;

  line-height: 1.4em;
  font-size: 18px;

  @include tablet {
    max-width: 980px;
    margin: 0 auto;
    padding: 20px 40px;
  }

  > div {
    @include tablet {
      max-width: 620px;
    }
    @include desktop {
      max-width: 750px;
    }
  }

  a {
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
  }
}