.gl-dots {
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: $zIndex-page-dots;
  opacity: 1;
  transition: opacity 300ms linear;
}
.gl-dots.is-hidden {
  opacity: 0;
}

.gl-dots-content {
  position: relative;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  font-size: 16px;
}

ol.page-dots {
  position: relative;
  width: 100%;
  padding: 0 85px 0 0;
  margin: 0;
  list-style: none;
  text-align: right;
  line-height: 1;
}

ol.page-dots a {
  text-decoration: none;
}

ol.page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background: #fff;
  border-radius: 50%;
  filter: alpha(opacity=25); /* IE8 */
  opacity: 0.25;
  cursor: pointer;
  transition: opacity 300ms linear;
}

ol.page-dots .dot.is-selected {
  filter: alpha(opacity=100); /* IE8 */
  opacity: 1;
}