<div class="gl-desktop-only gl-dots is-hidden">
  <div class="gl-dots-content">
    <ol class="page-dots">
      <a ng-repeat="item in items" ng-click="onItemClick($index)" ng-href="{{ '#heading-' + $index }}">
        <li class="dot"></li>
      </a>
    </ol>
  </div>
</div>