<li class="gl-related">
  <a ng-href="{{item.link}}">
    <div class="gl-related related-image-container">
      <div class="related-image">
        <div class="related-image-wrapper">
          <img ng-src="{{item.image}}" />
        </div>
      </div>
    </div>
    <div class="related-description-container">
      <div class="related-description">
        {{ item.description }}
      </div>
    </div>
  </a>
</li>