.gl-share-buttons {
  ul.share-button-list li {
    display: inline-block;
    border: 1px solid rgba(255,255,255,.75);
    border-radius: 50%;

    transition: 200ms background-color;
    background-color: transparent;

    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, .15);
    }
  }
}