section.slide-section.end-slide {

  max-width: 980px;

  ul {
    margin: 0; padding: 0;
    list-style: none;
  }

  .end-slide-share-wrapper {
    text-align: center;

    ul li {
      display: inline-block;
      border: 1px solid rgba(255,255,255,.75);
      border-radius: 50%;

      transition: 200ms background-color;
      background-color: transparent;

      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, .15);
      }
    }

    @include tablet {
      position: absolute;
      right: 20px;
      top: 60px;
    }
  }

  h3.end-title {
    border-top: 1px solid white;
    padding-top: 15px;
    margin-bottom: 20px;
    font-family: $font-sans-bold;

    @include tablet {
      line-height: 1.2em;
      font-size: 28px;
    }
  }
  .slide-index-client-container h4.slide-index-client-title {
    border-top: 1px solid white;
    margin: 0;
    padding-top: 20px;

    @include tablet {
      padding-top: 40px;
    }
  }
  .slide-index-client-container {
    text-align: center;
    margin: 20px;

    @include tablet {
      text-align: left;
      margin: 40px 20px;
      padding: 0;
    }
  }
  .client-image-wrapper {
    margin: 0 auto;

    @include tablet {
      margin: 0;
    }
  }
}

.slide-related-content {
  margin: 20px;
  white-space: nowrap;

  ul li {
    margin-top: 20px;
    background: #333;

    a {
      text-decoration: none;
    }

    @include tablet {
      display: inline-block;
      width: 25%;
      margin-right: 20px;
      overflow: hidden;
      vertical-align: top;
    }
  }
  .related-image-container {
    display: inline-block;
    vertical-align: top;
    width: 30%;

    @include tablet {
      display: block;
      width: auto;
    }
  }
  .related-image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 58%;
    overflow: hidden;
  }
  .related-image-wrapper {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: grey;
  }
  .related-image-wrapper img {
    width: 100%;
    height: auto;
  }

  .related-description-container {
    display: inline-block;
    vertical-align: top;
    padding: 5px 0;
    white-space: normal;
    width: 70%;

    @include tablet {
      display: block;
      width: auto;
    }
  }
  .related-description {
    padding: 5px;
    font-size: 14px;

    @include tablet {
      min-height: 100px;
      font-size: 16px;
      line-height: 1.3em;
    }
  }
}

.slide-credits {
  margin: 20px;
  white-space: nowrap;

  ul li {
    margin-top: 10px;
  }
}