<section class="slide-section end-slide">
  <h3 class="slide-main-heading gl-mobile-only">Related content</h3>

  <div class="slide-scrollable-wrapper">
    <div class="slide-content">

      <div class="slide-index-client-container">
        <h4 class="slide-index-client-title">{{ index.client_text }}</h3>
        <a ng-href="{{ index.client_link }}" ng-click="onClientClick($event)">
          <div class="client-image-wrapper">
            <img ng-src="{{ index.client_image }}" />
          </div>
        </a>
      </div>

      <div class="end-slide-share-wrapper">
        <div gl-share-buttons></div>
      </div>

      <div class="slide-related-content">
        <h3 class="end-title">Related Content</h3>
        <ul>
          <li ng-repeat="item in related" item="item" gl-related></li>
        </ul>
      </div>

      <div class="slide-credits">
        <h3 class="end-title">Credits</h3>
        <ul>
          <li ng-repeat="credit in credits" credit="credit">
            <div gl-credit content="credit"></div>
          </li>
        </ul>
      </div>

    </div>
  </div>

  </div>
</section>